<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!-- <script src="https://unpkg.com/vue@3"></script> -->
    <div id="app">
        <input type="text" v-model="firstName"> <br><br>
        <input type="text" v-model="lastName"> <br><br>
        <div>{{fullName}}</div>
    </div>

    <div>
        <input name="n" type="radio" value="1">
        <input name="n" type="radio" value="2">
        <input name="n" type="radio" value="3">
    </div>
    <script>
        const vm = new Vue({
            el : '#app',
            data : {
                firstName : '羅',
                lastName : '傑'
            },
            computed : {
                //若只讀不改
                //縮寫一
                // fullName : function(){
                //     return this.firstName + this.lastName
                // }
                //縮寫二
                fullName(){
                    return this.firstName + this.lastName
                }   
            }

        })    
    </script>
</body>

</html>