<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 錯誤寫法，新增老劉時，input內容會出錯 -->
        <!-- <ul>
            <li v-for="(p,index) of persons" :key="index">
                {{p.name}}{{p.age}}<input type="text">
            </li>
        </ul> -->

        <!-- 正確寫法，以唯一值當作key -->
        <!-- 若不指定key，Vue默認為index -->
        <ul>
            <li v-for="p of persons" :key="p.id">
                {{p.name}}{{p.age}}<input type="text">
            </li>
        </ul>
        <button @click="add">點我新增老劉</button>
    </div>
    <script>
        new Vue({
            el : '#app',
            data : {
                persons : [
                    {id:'001',name:'張三',age:18},
                    {id:'002',name:'李四',age:19},
                    {id:'003',name:'王五',age:20},
                ]
            },
            methods: {
                add(){
                    const p = {id:'004',name:'老劉',aga:21}
                    this.persons.unshift(p)
                }
            },
        })
    </script>
</body>
</html>