<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="keyword">
        <button @click="sortType = 2">點我升序</button>
        <button @click="sortType = 1">點我降序</button>
        <button @click="sortType = 0">原順序</button>
        <ul>
            <li v-for="p in filPersons" :key="p.id">
                {{p.name}} {{p.age}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el : '#app',
            data : {
                keyword : '',
                sortType : 0,
                persons : [
                    {id:'001',name:'馬冬梅',age:18},
                    {id:'002',name:'周冬雨',age:19},
                    {id:'003',name:'周杰倫',age:23},
                    {id:'004',name:'溫兆倫',age:21}
                ]
            },
            computed : {
                filPersons() {
                    const arr =  this.persons.filter((p)=>{
                            return p.name.indexOf(this.keyword) !== -1
                        })
                    if (this.sortType){
                        arr.sort((p1,p2)=>{
                            return this.sortType === 1 ? p2.age - p1.age : p1.age - p2.age
                        })
                    }
                    return arr
                }
            }
            


        })

    </script>
</body>
</html>